.vscode
venv
build
.DS_Store
*.swp
*~ 
.pytest_cache
charts/ska-mc-images/secrets/tls.*
PrivateRules.mak
charts/tango-base/secrets/tls.crt
charts/tango-base/secrets/tls.key
charts/tango-base/charts/tango-util-0.1.0.tgz
charts/ska-mc-images/charts/*
charts/ska-mc-images/Chart.lock
charts/repository/*
