.vscode
venv
build
.DS_Store
*.swp
*~ 
.pytest_cache
charts/ska-tango-images/secrets/tls.*
PrivateRules.mak
charts/tango-base/secrets/tls.crt
charts/tango-base/secrets/tls.key
charts/tango-base/charts/tango-util-0.1.0.tgz
charts/ska-tango-images/charts/*
charts/ska-tango-images/Chart.lock
charts/repository/*
charts/tango-base/charts/*
charts/tango-base/Chart.lock

charts/ska-tango-base/secrets/tls.crt
charts/ska-tango-base/secrets/tls.key
charts/ska-tango-base/charts/tango-util-0.1.0.tgz
charts/ska-tango-base/charts/*
charts/ska-tango-base/Chart.lock
charts/ska-tango-umbrella/charts
charts/ska-tango-umbrella/Chart.lock
# we generate this values.yaml
charts/ska-tango-base/values.yaml
charts/generated_values.yaml
charts/values.yaml
