numpy==1.19.2
pytango==9.3.5.dev0
flake8
flake8_formatter_junit_xml
isort
black
poetry
ipython==7.21.0
itango==0.1.8
coverage
docutils
MarkupSafe
Pygments
pylint
pylint-junit
pytest
pytest-bdd
pytest-cov
pytest-forked
pytest-json-report
pytest-mock
pytest-pycodestyle
pytest-pydocstyle
pytest-pylint
pytest-runner
python-dotenv>=0.5.1
ptvsd
Sphinx
sphinx_rtd_theme
sphinx-autobuild
sphinxcontrib-websupport
requests
tox
transitions
