pytest
pytest-cov
pytest-json-report
pycodestyle<2.7.0,>=2.6.0a1
pytest-bdd
elasticsearch
kubernetes
pytest-runner
sphinx
recommonmark
assertpy
astropy
marshmallow
mock
importlib
pyyaml
pytest-ordering
kubernetes
elasticsearch-dsl
aiohttp
aiojobs
pytest-asyncio
ska_logging
aiohttp_cors
flake8