-r SUT_requirements.txt
pytest<7.2.0
pyyaml
pytest-cov
pytest-json-report
pycodestyle<2.7.0,>=2.6.0a1
pytest-bdd==5.0.0
pytest-ordering
pytest-timeout
pytest-forked
elasticsearch
kubernetes
assertpy
mock
elasticsearch-dsl
aiohttp
aiojobs
pytest-asyncio
aiohttp_cors
flake8
tango-simlib==0.7.0
mysql-connector-python==8.0.29
itango